.binary-option-button i {
    font-size: 128px;
}

.binary-option-button {
    display: flex;
    flex-direction: column;
    border: 1px solid #666;
    width: 200px;
    min-width: 200px;
    align-items: center;
    justify-content: space-between;
    height: 200px;
    min-height: 200px;
    background-color: #fafafa;
    box-shadow: 1px 1px 1px #666;
    font-size: 24px;
    cursor: pointer;
    padding: 2px;
}

.binary-option-button:hover {
    background-color: rgba(31, 85, 138, .2);
    color: #000;
}

.binary-option-button:active {
    background-color: rgba(31, 85, 138, .4);
    border-left-width: 2px;
    border-top-width: 2px;
    color: #000;
    box-shadow: 0 0 0;
}

.button.short-button {
    width: 150px;
}

.binary-option-button i {
    font-size: 128px;
}

.options-list,
.display-list {
    display: flex;
    margin: 10px -30px -30px 0;
    flex-wrap: wrap;
}

.options-list-button .i-text,
.display-list-item .i-text {
    font-size: 28px;
    color: rgb(25, 135, 235);
}

.options-list-button.pressed .i-text {
    color: #000;
}

.display-list-item,
.options-list-button {
    margin-right: 30px;
    margin-bottom: 30px;
    display: flex;
    color: #283492;
    flex-direction: column;
    width: 100px;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    font-size: 16px;
    padding: 2px;
}

.options-list-button {
    box-shadow: 1px 1px 1px #666;
    cursor: pointer;
    background-color: #fafafa;
    border: 1px solid #666;
}

.display-list-item {
    border: 3px solid #666;
}

.display-list-item.success {
    background-color: #b8d4b6;
    color: #000;
    border-color: #008200;
}

.display-list-item.success i,
.display-list-item.success .i-text {
    color: #008200;
}

.options-list-button:hover:not(.pressed):not(:active) {
    background-color: rgba(31, 85, 138, .2);
    color: #555;
}

.options-list-button:active,
.options-list-button.pressed {
    background-color: rgba(31, 85, 138, .4);
    border-left-width: 2px;
    border-top-width: 2px;
    color: #000;
    box-shadow: 0 0 0;
    cursor: default;
}

.options-list-button i {
    font-size: 48px;
    color: rgb(25, 135, 235);
}

.options-list-button.pressed i {
    color: #000;
}
