.main-display {
    padding: 10px;
    padding-bottom: 50px;
    max-width:750px;
}

.game-header {
    display: flex;
    position: fixed;
    top: 0;
    padding: 10px;
    height: 50px;
    width: 100vw;
    white-space: nowrap;
}

.top-header-text {
    font-size: 36px;
}

.bottom-menu {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100vw;
    height: 40px;
    position: fixed;
    bottom: 0;
    z-index: 2;
}

.bottom-menu i {
    font-size: 16px;
    margin: 3px
}
