body
  .flexbox.funky Top Thing
  .bottom-anchor
    .nav-button
      i.fa.fa-bars
      .nav-label main menu
    .nav-button
      i.fa.fa-plus
      .nav-label add item
    .nav-button
      i.fa.fa-puzzle-piece
      .nav-label other option