.modal-header {
    background-color: rgb(31, 85, 138);
    color: #efefef;
    padding: 10px;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
}

.modal-dialog {
    color: #666;
}

.modal .message {
    color: #666;
    margin-bottom: 20px;
}

.modal-header i.fa {
    cursor: pointer;
}

.modal-header i.fa:hover {
    color: #dadada;
}
