.character-summary:not(:last-child) {
    margin-bottom: 10px;
}

.character-summary .label {
    font-weight: bold;
}

.current-player {
    color: #8cff8c;
}

.dungeon-master {
    color: #65e0f7;
}

.invite-code {
    font-size: 24px;
}
