input {
    display: block;
    border-color: #efefef;
    font-size: 16px;
    width: 250px;
    background-color: #ccc;
    padding: 10px;
    font-weight: bold;
    color: rgb(31, 85, 138);
    border-radius: 0;
}

.login-form >*:not(:last-child) {
    margin-bottom: 20px;
}

.login-form .button {
    text-align: center;
    width: 250px;
}
